In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
#engine = create_engine("mysql://sam_cs@localhost:3307/myfirstapp",echo = True)
#engine = create_engine("mysql://sam_cs@127.0.0.1:3307/myfirstapp",echo = True)

engine = create_engine("mysql://ml_read_user:ML@user@123@127.0.0.1:3307/connected2fiber",echo = True)

In [3]:
con = engine.connect()
rs = con.execute("SELECT * FROM `accessmedium`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()

2021-07-26 07:58:39,313 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-07-26 07:58:39,315 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 07:58:39,554 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-07-26 07:58:39,556 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 07:58:40,025 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-07-26 07:58:40,025 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 07:58:40,505 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-07-26 07:58:40,505 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 07:58:40,743 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-07-26 07:58:40,743 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 07:58:40,987 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-07-26 07:58:40,987 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 07:58:41,224 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-07-26 07:58:41,224 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 07:58:41,931 INFO sqlalchemy.engine.base.Engine SELECT * FROM `accessmedium`
2021-07-26 07:58:41,931 INFO sqlalchemy.engine.base.Engine ()

In [4]:
print(df.head())

   id              text
0   1             Fiber
1   2          Coax/HFC
2   3            Copper
3   4  Wireless - Fixed
4   5             Other

In [6]:
con = engine.connect()
df = pd.read_sql_table('accessmedium', con)
print(df)

2021-07-26 08:02:06,011 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `connected2fiber`
2021-07-26 08:02:06,014 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:02:06,485 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `connected2fiber`
2021-07-26 08:02:06,485 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:02:06,739 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `accessmedium`
2021-07-26 08:02:06,739 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:02:06,986 INFO sqlalchemy.engine.base.Engine SELECT accessmedium.id, accessmedium.text
FROM accessmedium
2021-07-26 08:02:06,987 INFO sqlalchemy.engine.base.Engine ()
   id                  text
0   1                 Fiber
1   2              Coax/HFC
2   3                Copper
3   4      Wireless - Fixed
4   5                 Other
5   6     Wireless - Mobile
6   7  Wireless - Satellite

In [10]:
con = engine.connect()
df = pd.read_sql_table('report_building_view', con)
print(df.head())

2021-07-26 08:03:25,327 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `connected2fiber`
2021-07-26 08:03:25,342 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:03:25,815 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `connected2fiber`
2021-07-26 08:03:25,815 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:03:26,060 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `report_building_view`
2021-07-26 08:03:26,060 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:03:26,299 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (MySQLdb._exceptions.OperationalError) (1142, "SHOW VIEW command denied to user 'ml_read_user'@'localhost' for table 'report_building_view'")
[SQL: SHOW CREATE TABLE `report_building_view`]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## report building view

In [12]:
con = engine.connect()
rs = con.execute("SELECT * FROM `report_building_view`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()

2021-07-26 08:05:37,857 INFO sqlalchemy.engine.base.Engine SELECT * FROM `report_building_view`
2021-07-26 08:05:37,865 INFO sqlalchemy.engine.base.Engine ()

In [13]:
print(df.head())

      username                        email  companyid         createddate  \
0  Emim Lumina    emim.lumina@capestart.com          1 2017-01-18 06:04:31
1  John Wright     john@connected2fiber.com          1 2017-04-27 20:40:18
2   Aldrin m25       aldrin.m@capestart.com         99 2017-10-09 10:54:32
3   Anumanth E  anumanthddu.e@capestart.com         90 2017-10-09 12:04:16
4  Emim Lumina    emim.lumina@capestart.com          1 2017-10-12 07:53:44

                          message updatestatus entity_id  reporttypeid  \
0                            Test         None      None             1
1  Please fix the category.  Test         None      None             1
2                       anumanthu         None      2504             1
3                            test         None       142             1
4                 test test test          None   1855391             1

  module_id                 text
0      None  Invalid Information
1      None  Invalid Information
2         2  Invalid Information
3         2  Invalid Information
4         2  Invalid Information

In [14]:
df.shape

(39, 10)

In [15]:
df.columns

Index(['username', 'email', 'companyid', 'createddate', 'message',
       'updatestatus', 'entity_id', 'reporttypeid', 'module_id', 'text'],
      dtype='object')

In [16]:
len(df.columns)

10

In [19]:
df['createddate'].head()

0   2017-01-18 06:04:31
1   2017-04-27 20:40:18
2   2017-10-09 10:54:32
3   2017-10-09 12:04:16
4   2017-10-12 07:53:44
Name: createddate, dtype: datetime64[ns]

## Getting the shapes

In [40]:
df_m =pd.read_excel('date_column_table.xlsx')

In [41]:
df_m.head()

          COLUMN_NAME  TABLE_NAME
0  DATETIME_PRECISION     COLUMNS
1    LAST_UPDATE_TIME       FILES
2        UPDATE_COUNT       FILES
3         UPDATE_TIME       FILES
4  DATETIME_PRECISION  PARAMETERS

In [48]:
df_m.shape

(690, 2)

In [49]:
dummy = []
for table in df_m['TABLE_NAME'].tail(680):
     
    con = engine.connect()
    query = "SELECT * FROM "+str(table)
    rs = con.execute(query)
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    con.close()
    dummy.append(df.shape)

2021-07-26 08:34:58,238 INFO sqlalchemy.engine.base.Engine SELECT * FROM company_locations_all_vw
2021-07-26 08:34:58,239 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:34:58,717 INFO sqlalchemy.engine.base.Engine SELECT * FROM company_locations_all_vw
2021-07-26 08:34:58,717 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:34:59,200 INFO sqlalchemy.engine.base.Engine SELECT * FROM company_locations_all_vw
2021-07-26 08:34:59,200 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:34:59,702 INFO sqlalchemy.engine.base.Engine SELECT * FROM last_distribution_sent_view
2021-07-26 08:34:59,718 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:00,437 INFO sqlalchemy.engine.base.Engine SELECT * FROM report_building_view
2021-07-26 08:35:00,443 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:00,923 INFO sqlalchemy.engine.base.Engine SELECT * FROM report_building_view
2021-07-26 08:35:00,924 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:01,398 INFO sqlalchemy.engine.base.Engine SELECT * FROM layer_provision_config
2021-07-26 08:35:01,398 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:01,881 INFO sqlalchemy.engine.base.Engine SELECT * FROM layer_provision_config
2021-07-26 08:35:01,881 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:02,368 INFO sqlalchemy.engine.base.Engine SELECT * FROM nr_publish_audit_log
2021-07-26 08:35:02,368 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:02,855 INFO sqlalchemy.engine.base.Engine SELECT * FROM nni_location
2021-07-26 08:35:02,855 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:04,383 INFO sqlalchemy.engine.base.Engine SELECT * FROM nni_location
2021-07-26 08:35:04,384 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:05,180 INFO sqlalchemy.engine.base.Engine SELECT * FROM buildingeasementmanager
2021-07-26 08:35:05,180 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:30,694 INFO sqlalchemy.engine.base.Engine SELECT * FROM supplier_contact
2021-07-26 08:35:30,695 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 08:35:31,891 INFO sqlalchemy.engine.base.Engine ROLLBACK

UnicodeDecodeError: 'charmap' codec can't decode byte 0x90 in position 9: character maps to <undefined>

In [50]:
#df_m['testing'] = dummy
dummy

[(1, 116),
 (1, 116),
 (1, 116),
 (737, 3),
 (39, 10),
 (39, 10),
 (70, 11),
 (70, 11),
 (95, 11),
 (5829, 16),
 (5829, 16),
 (1747288, 13)]

In [35]:
df_m.head()

          COLUMN_NAME  TABLE_NAME     testing
0  DATETIME_PRECISION     COLUMNS     COLUMNS
1    LAST_UPDATE_TIME       FILES       FILES
2        UPDATE_COUNT       FILES       FILES
3         UPDATE_TIME       FILES       FILES
4  DATETIME_PRECISION  PARAMETERS  PARAMETERS

## Exploring buildinglist

In [57]:
con = engine.connect()
rs = con.execute("SELECT * FROM `buildinglist`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 09:12:02,581 INFO sqlalchemy.engine.base.Engine SELECT * FROM `buildinglist`
2021-07-26 09:12:02,582 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (736, 34)
###################
COLUMNS Index(['id', 'listname', 'isstatic', 'isall', 'address', 'city', 'stateid',
       'statename', 'countryid', 'countryname', 'zip', 'buildingcategoryid_1',
       'buildingcategoryname_1', 'fiberstatusid', 'fiberstatusname',
       'category', 'configuration', 'createddate', 'modifieddate', 'isactive',
       'createdaccountid', 'modifiedaccountid', 'buildingcategoryid',
       'buildingcategoryname', 'connectionstatusid', 'connectionstatusname',
       'distance_band_value', 'zoning_name', 'accessmediumid',
       'accessmediumname', 'providerid', 'providername',
       'distance_band_value_id', 'custom_field_values'],
      dtype='object')
###################
   id          listname isstatic    isall address  city stateid statename  \
0   5  Data Center List  b'\x00'  b'\x00'          None    None      None
1   6         NY Towers  b'\x00'  b'\x00'          None      35  New York
2   7          Hospital  b'\x00'  b'\x01'    None  None    None      None
3   8      MD Hospitals  b'\x00'  b'\x00'          None      23  Maryland
4   9            Static  b'\x01'  b'\x00'    None  None    None      None

  countryid    countryname  ... connectionstatusid connectionstatusname  \
0      None           None  ...               None                 None
1       223  United States  ...               None                 None
2      None           None  ...               None                 None
3       223  United States  ...               None                 None
4      None           None  ...               None                 None

  distance_band_value zoning_name accessmediumid accessmediumname providerid  \
0                None        None           None             None       None
1                None        None           None             None       None
2                None        None           None             None       None
3                None        None           None             None       None
4                None        None           None             None       None

  providername distance_band_value_id custom_field_values
0         None                   None                None
1         None                   None                None
2         None                   None                None
3         None                   None                None
4         None                   None                None

[5 rows x 34 columns]

## EDA automation

In [58]:
import sweetviz as sv