### importing

In [20]:
from sqlalchemy import create_engine
import pandas as pd
import sweetviz as sv

### sql engine

In [21]:
engine = create_engine("mysql://ml_read_user:ML@user@123@127.0.0.1:3307/connected2fiber",echo = True)

### exploring company building new

In [4]:
con = engine.connect()
rs = con.execute("SELECT * FROM `company_building_new`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-08-09 09:38:24,819 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-08-09 09:38:24,841 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 09:38:25,102 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-08-09 09:38:25,102 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 09:38:25,612 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-08-09 09:38:25,615 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 09:38:26,106 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-08-09 09:38:26,126 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 09:38:26,369 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-08-09 09:38:26,385 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 09:38:26,628 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-08-09 09:38:26,645 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 09:38:26,899 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-08-09 09:38:26,901 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 09:38:27,650 INFO sqlalchemy.engine.base.Engine SELECT * FROM `company_building_new`
2021-08-09 09:38:27,655 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (5021, 100)
###################
COLUMNS Index(['id', 'buildingname', 'buildingno', 'description', 'createddate',
       'modifieddate', 'totalspaceavailable', 'sfrentalrate', 'buildingsize',
       'additionalsubtype', 'minvisible', 'propertyvalue', 'floors',
       'buildingclass', 'subtype', 'lotsize', 'yearbuilt', 'zoningdescription',
       'listingid', 'lastupdateddate', 'rssfeedurl', 'twitterfeed',
       'structurecategoryname', 'network_build_status', 'c2fbuildingnumber',
       'demarccode', 'cllicode', 'npa', 'nxx', 'lata', 'isdarkfiber',
       'isether', 'ismpls', 'isbroadband', 'iswifi', 'iswavelengths',
       'issonet', 'isip', 'isdas', 'israisercablemanagement', 'israiseruser',
       'locationid', 'structurecategory', 'cbsaname', 'onnettype',
       'fiberownership', 'building_connection_status', 'offnetstatus',
       'npanxx', 'accessmediumid', 'nni_status_id', 'hasindexed', 'isdefault',
       'iscorrectaddress', 'carriergeocodestatus', 'censusgeocodestatus',
       'createdaccountid', 'modifiedaccountid', 'smartystreetstatus',
       'clearbitstatus', 'network_status', 'google_geocode_status',
       'geocode_source', 'geocode_accuracy_type', 'install_interval_id',
       'special_construction_cost', 'provider', 'unique_key',
       'google_elevation_status', 'access_customer_name', 'floor', 'room',
       'minimum_circuit_level', 'minimum_quantity', 'building_clli',
       'hand_off_type', 'protection_type', 'hand_off_pricing', 'isDeleted',
       'building_competitive_rating', 'is_md_location_migrated',
       'supplier_manager_id', 'distribution_building_id', 'distribution_id',
       'building_notes', 'competitive_rating_status', 'distance_band_value',
       'company_id', 'migration_flag', 'is_native_building',
       'comcast_pricing_zone', 'indatel_pricing_zone', 'level3_pricing_zone',
       'sprint_pricing_zone', 'verizon_pricing_zone', 'att_pricing_zone',
       'vertical_coordinate', 'horizontal_coordinate', 'diversity_type',
       'file_name'],
      dtype='object')
###################
   id                        buildingname buildingno description  \
0   1                             Markley     1999_1        None
1   2                              Quasar     1999_2        None
2   3  Equinix PI1 - 1st Floor, Suite 126     1999_3        None
3   4                      1102 Grand LLC     1999_4        None
4   5                        CoreSite VA1     1999_5        None

          createddate        modifieddate totalspaceavailable sfrentalrate  \
0 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
1 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
2 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
3 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
4 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None

  buildingsize additionalsubtype  ... comcast_pricing_zone  \
0         None              None  ...                 None
1         None              None  ...                 None
2         None              None  ...                 None
3         None              None  ...                 None
4         None              None  ...                 None

  indatel_pricing_zone level3_pricing_zone sprint_pricing_zone  \
0                 None                None                None
1                 None                None                None
2                 None                None                None
3                 None                None                None
4                 None                None                None

  verizon_pricing_zone att_pricing_zone vertical_coordinate  \
0                 None             None                None
1                 None             None                None
2                 None             None                None
3                 None             None                None
4                 None             None                None

  horizontal_coordinate diversity_type file_name
0                  None           None      None
1                  None           None      None
2                  None           None      None
3                  None           None      None
4                  None           None      None

[5 rows x 100 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5021 entries, 0 to 5020
Data columns (total 100 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           5021 non-null   int64
 1   buildingname                 5021 non-null   object
 2   buildingno                   5021 non-null   object
 3   description                  0 non-null      object
 4   createddate                  5021 non-null   datetime64[ns]
 5   modifieddate                 5021 non-null   datetime64[ns]
 6   totalspaceavailable          0 non-null      object
 7   sfrentalrate                 0 non-null      object
 8   buildingsize                 0 non-null      object
 9   additionalsubtype            0 non-null      object
 10  minvisible                   0 non-null      object
 11  propertyvalue                0 non-null      object
 12  floors                       0 non-null      object
 13  buildingclass                0 non-null      object
 14  subtype                      0 non-null      object
 15  lotsize                      0 non-null      object
 16  yearbuilt                    0 non-null      object
 17  zoningdescription            0 non-null      object
 18  listingid                    0 non-null      object
 19  lastupdateddate              5021 non-null   datetime64[ns]
 20  rssfeedurl                   0 non-null      object
 21  twitterfeed                  0 non-null      object
 22  structurecategoryname        0 non-null      object
 23  network_build_status         5021 non-null   int64
 24  c2fbuildingnumber            0 non-null      object
 25  demarccode                   0 non-null      object
 26  cllicode                     0 non-null      object
 27  npa                          0 non-null      object
 28  nxx                          0 non-null      object
 29  lata                         0 non-null      object
 30  isdarkfiber                  0 non-null      object
 31  isether                      0 non-null      object
 32  ismpls                       0 non-null      object
 33  isbroadband                  0 non-null      object
 34  iswifi                       0 non-null      object
 35  iswavelengths                0 non-null      object
 36  issonet                      0 non-null      object
 37  isip                         0 non-null      object
 38  isdas                        0 non-null      object
 39  israisercablemanagement      0 non-null      object
 40  israiseruser                 0 non-null      object
 41  locationid                   5021 non-null   int64
 42  structurecategory            0 non-null      object
 43  cbsaname                     0 non-null      object
 44  onnettype                    0 non-null      object
 45  fiberownership               0 non-null      object
 46  building_connection_status   5021 non-null   int64
 47  offnetstatus                 0 non-null      object
 48  npanxx                       0 non-null      object
 49  accessmediumid               0 non-null      object
 50  nni_status_id                0 non-null      object
 51  hasindexed                   5021 non-null   object
 52  isdefault                    5021 non-null   object
 53  iscorrectaddress             5021 non-null   object
 54  carriergeocodestatus         5021 non-null   int64
 55  censusgeocodestatus          5021 non-null   int64
 56  createdaccountid             5021 non-null   int64
 57  modifiedaccountid            5021 non-null   int64
 58  smartystreetstatus           5021 non-null   int64
 59  clearbitstatus               5021 non-null   int64
 60  network_status               5021 non-null   int64
 61  google_geocode_status        5021 non-null   int64
 62  geocode_source               3 non-null      object
 63  geocode_accuracy_type        3 non-null      object
 64  install_interval_id          0 non-null      object
 65  special_construction_cost    0 non-null      object
 66  provider                     0 non-null      object
 67  unique_key                   0 non-null      object
 68  google_elevation_status      5021 non-null   int64
 69  access_customer_name         0 non-null      object
 70  floor                        0 non-null      object
 71  room                         0 non-null      object
 72  minimum_circuit_level        0 non-null      object
 73  minimum_quantity             0 non-null      object
 74  building_clli                0 non-null      object
 75  hand_off_type                0 non-null      object
 76  protection_type              0 non-null      object
 77  hand_off_pricing             0 non-null      object
 78  isDeleted                    5021 non-null   int64
 79  building_competitive_rating  0 non-null      object
 80  is_md_location_migrated      5021 non-null   int64
 81  supplier_manager_id          0 non-null      object
 82  distribution_building_id     0 non-null      object
 83  distribution_id              0 non-null      object
 84  building_notes               0 non-null      object
 85  competitive_rating_status    5021 non-null   int64
 86  distance_band_value          0 non-null      object
 87  company_id                   5021 non-null   int64
 88  migration_flag               5021 non-null   int64
 89  is_native_building           5021 non-null   int64
 90  comcast_pricing_zone         0 non-null      object
 91  indatel_pricing_zone         0 non-null      object
 92  level3_pricing_zone          0 non-null      object
 93  sprint_pricing_zone          0 non-null      object
 94  verizon_pricing_zone         0 non-null      object
 95  att_pricing_zone             0 non-null      object
 96  vertical_coordinate          0 non-null      object
 97  horizontal_coordinate        0 non-null      object
 98  diversity_type               0 non-null      object
 99  file_name                    0 non-null      object
dtypes: datetime64[ns](3), int64(19), object(78)
memory usage: 3.8+ MB

In [7]:
    
    a = "company_building_new"
    sweet_report = sv.analyze(df)
    #Saving results to HTML file
    report_name = a+'.html'
    sweet_report.show_html(report_name)

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=101.0), HTML(value='')), layout=Layout(di…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2')), HTML(value='')), layout=Layout(display='inli…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=1.0), HTML(value='')), layout=Layout(disp…

Report company_building_new.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Building service

In [28]:
con = engine.connect()
rs = con.execute("SELECT * FROM `buildingservice`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")

2021-08-09 20:05:56,789 INFO sqlalchemy.engine.base.Engine SELECT * FROM `buildingservice`
2021-08-09 20:05:56,790 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (49429, 37)
###################
COLUMNS Index(['buildingserviceid', 'buildingid', 'servicespeedid', 'mrc_12m',
       'nrc_12m', 'speedavailability', 'mrc_24m', 'nrc_24m', 'mrc_36m',
       'nrc_36m', 'mrc_48m', 'nrc_48m', 'mrc_60m', 'nrc_60m', 'mrc_84m',
       'nrc_84m', 'mrc_120m', 'nrc_120m', 'mrc_240m', 'nrc_240m', 'mm_mrc',
       'mm_nrc', 'company_id', 'createdaccountid', 'modifiedaccountid',
       'createddate', 'modifieddate', 'isdeleted', 'pricing_channel_id',
       'network_connection_status', 'building_connection_status',
       'access_medium_id', 'geographic_config_id', 'entity_id',
       'building_competitive_rating', 'building_category_id',
       'distance_band_id'],
      dtype='object')
###################

In [30]:
df.loc[:,'createddate' ].head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: createddate, dtype: datetime64[ns]

In [18]:
df.loc[49424,'createddate' ]

Timestamp('2021-05-12 11:20:58')

In [19]:
df.loc[49424,'createddate' ].day_name()

'Wednesday'

### drop the rows if created date column is null

In [35]:
df.dropna(subset=['createddate'], inplace=True)

In [36]:
df.head()

,buildingserviceid,buildingid,servicespeedid,mrc_12m,nrc_12m,speedavailability,mrc_24m,nrc_24m,mrc_36m,nrc_36m,...,isdeleted,pricing_channel_id,network_connection_status,building_connection_status,access_medium_id,geographic_config_id,entity_id,building_competitive_rating,building_category_id,distance_band_id
18449,38180,665234,47,None,None,1,None,None,None,None,...,1,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
18450,38181,1630989,1,45,455,1,4455,444,444,411,...,0,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
18451,38182,1630989,3,241,524,1,14,145,145,145,...,0,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
18452,38183,1630989,2,78,41,1,52,45,45,45,...,0,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
18453,38184,1630991,1,14,54,1,45,45,45,455,...,0,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30974 entries, 18449 to 49428
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   buildingserviceid            30974 non-null  int64
 1   buildingid                   30974 non-null  int64
 2   servicespeedid               30974 non-null  int64
 3   mrc_12m                      29496 non-null  object
 4   nrc_12m                      29073 non-null  object
 5   speedavailability            30974 non-null  int64
 6   mrc_24m                      28991 non-null  object
 7   nrc_24m                      28749 non-null  object
 8   mrc_36m                      28664 non-null  object
 9   nrc_36m                      28131 non-null  object
 10  mrc_48m                      23849 non-null  object
 11  nrc_48m                      23839 non-null  object
 12  mrc_60m                      28022 non-null  object
 13  nrc_60m                      27964 non-null  object
 14  mrc_84m                      365 non-null    object
 15  nrc_84m                      365 non-null    object
 16  mrc_120m                     366 non-null    object
 17  nrc_120m                     364 non-null    object
 18  mrc_240m                     369 non-null    object
 19  nrc_240m                     368 non-null    object
 20  mm_mrc                       20266 non-null  object
 21  mm_nrc                       20200 non-null  object
 22  company_id                   5225 non-null   float64
 23  createdaccountid             29782 non-null  float64
 24  modifiedaccountid            29252 non-null  float64
 25  createddate                  30974 non-null  datetime64[ns]
 26  modifieddate                 30327 non-null  datetime64[ns]
 27  isdeleted                    30974 non-null  int64
 28  pricing_channel_id           21348 non-null  float64
 29  network_connection_status    21252 non-null  float64
 30  building_connection_status   21252 non-null  float64
 31  access_medium_id             5407 non-null   float64
 32  geographic_config_id         111 non-null    float64
 33  entity_id                    4727 non-null   float64
 34  building_competitive_rating  387 non-null    object
 35  building_category_id         238 non-null    float64
 36  distance_band_id             269 non-null    float64
dtypes: datetime64[ns](2), float64(11), int64(5), object(19)
memory usage: 9.0+ MB

In [38]:
print(df.isnull().sum())

buildingserviceid                  0
buildingid                         0
servicespeedid                     0
mrc_12m                         1478
nrc_12m                         1901
speedavailability                  0
mrc_24m                         1983
nrc_24m                         2225
mrc_36m                         2310
nrc_36m                         2843
mrc_48m                         7125
nrc_48m                         7135
mrc_60m                         2952
nrc_60m                         3010
mrc_84m                        30609
nrc_84m                        30609
mrc_120m                       30608
nrc_120m                       30610
mrc_240m                       30605
nrc_240m                       30606
mm_mrc                         10708
mm_nrc                         10774
company_id                     25749
createdaccountid                1192
modifiedaccountid               1722
createddate                        0
modifieddate                     647
isdeleted                          0
pricing_channel_id              9626
network_connection_status       9722
building_connection_status      9722
access_medium_id               25567
geographic_config_id           30863
entity_id                      26247
building_competitive_rating    30587
building_category_id           30736
distance_band_id               30705
dtype: int64

## Look ups

In [ ]:
['buildingconnectivity', ]
for table in ['network_connection_status','building_connection_status','building_competitive_rating','building_category_id']
    con = engine.connect()
    rs = con.execute("SELECT * FROM `buildingservice`")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    con.close()

### network_connection_status

In [48]:
df_network_connection_status = df[['createddate', 'network_connection_status']]

In [55]:
df_network_connection_status.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30974 entries, 18449 to 49428
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   createddate                30974 non-null  datetime64[ns]
 1   network_connection_status  21252 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.0 MB

In [54]:
df_network_connection_status.isnull().sum()

createddate                     0
network_connection_status    9722
dtype: int64

In [63]:
df_network_connection_status.dropna(subset=['network_connection_status'], inplace=True)

<ipython-input-63-70c2ea3c65b8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_network_connection_status.dropna(subset=['network_connection_status'], inplace=True)

In [64]:
df_network_connection_status.head()

              createddate  network_connection_status
27761 2018-06-22 10:23:29                        0.0
27762 2018-06-22 10:23:29                        0.0
27763 2018-06-22 10:23:29                        0.0
27764 2018-06-22 10:23:29                        0.0
27765 2018-06-22 10:23:29                        0.0

In [86]:
df_network_connection_status.network_connection_status.unique()

array([0., 1., 2., 3., 4., 5.])

### building_connection_status

In [49]:
df_building_connection_status = df[['createddate', 'building_connection_status']]

In [56]:
df_building_connection_status.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30974 entries, 18449 to 49428
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   createddate                 30974 non-null  datetime64[ns]
 1   building_connection_status  21252 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.0 MB

In [57]:
df_building_connection_status.isnull().sum()

createddate                      0
building_connection_status    9722
dtype: int64

In [65]:
df_building_connection_status.dropna(subset=['building_connection_status'], inplace=True)

<ipython-input-65-68164e4a8be7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_building_connection_status.dropna(subset=['building_connection_status'], inplace=True)

In [66]:
df_building_connection_status.head()

              createddate  building_connection_status
27761 2018-06-22 10:23:29                         0.0
27762 2018-06-22 10:23:29                         0.0
27763 2018-06-22 10:23:29                         0.0
27764 2018-06-22 10:23:29                         0.0
27765 2018-06-22 10:23:29                         0.0

In [85]:
df_building_connection_status.building_connection_status.unique()

array([0., 6., 1., 5., 2.])

### building_competitive_rating

In [50]:
df_building_competitive_rating = df[['createddate', 'building_competitive_rating']]

In [58]:
df_building_competitive_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30974 entries, 18449 to 49428
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   createddate                  30974 non-null  datetime64[ns]
 1   building_competitive_rating  387 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 2.0+ MB

In [70]:
df_building_competitive_rating.isnull().sum()

createddate                        0
building_competitive_rating    30587
dtype: int64

In [71]:
df_building_competitive_rating.dropna(subset=['building_competitive_rating'], inplace=True)

<ipython-input-71-2bcfcc4528e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_building_competitive_rating.dropna(subset=['building_competitive_rating'], inplace=True)

In [78]:
df_building_competitive_rating.head(25)

              createddate building_competitive_rating
40863 2018-11-19 12:19:49                       Green
40864 2018-11-19 12:19:49                       Green
46354 2019-06-13 13:18:36
46355 2019-06-13 13:18:36
46356 2019-06-13 13:18:36
46357 2019-06-13 13:18:36
46358 2019-06-13 13:18:36
46359 2019-06-13 13:18:36
46360 2019-06-13 13:18:36
46361 2019-06-13 13:18:36
46362 2019-06-13 13:18:36
46363 2019-06-13 13:18:36
46364 2019-06-13 13:18:36
46365 2019-06-13 13:18:36
46366 2019-06-13 13:18:36
46367 2019-06-13 13:18:36
46368 2019-06-13 13:18:36
46369 2019-06-13 13:18:36
46370 2019-06-13 13:18:36
46371 2019-06-13 13:18:36
46372 2019-06-13 13:18:36
46373 2019-06-13 13:18:36
46374 2019-06-13 13:18:36
46375 2019-06-13 13:18:36
46376 2019-06-13 13:18:36

In [84]:
df_building_competitive_rating.building_competitive_rating.unique()

array(['Green', ''], dtype=object)

### building_category_id

In [51]:
df_building_category_id = df[['createddate', 'building_category_id']]

In [60]:
df_building_category_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30974 entries, 18449 to 49428
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   createddate           30974 non-null  datetime64[ns]
 1   building_category_id  238 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.0 MB

In [61]:
df_building_category_id.isnull().sum()

createddate                 0
building_category_id    30736
dtype: int64

In [68]:
df_building_category_id.dropna(subset=['building_category_id'], inplace=True)

<ipython-input-68-201c43a6d329>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_building_category_id.dropna(subset=['building_category_id'], inplace=True)

In [69]:
df_building_category_id.head()

              createddate  building_category_id
41042 2018-11-30 05:45:19                  24.0
41043 2018-11-30 05:45:19                  24.0
41044 2018-11-30 09:05:24                  37.0
41045 2018-11-30 09:05:24                  37.0
41046 2018-11-30 09:05:24                  37.0

In [83]:
df_building_category_id.building_category_id.unique()

array([24., 37.,  4.,  1., 30.])

In [82]:
# Creating dataframe a
a = pd.DataFrame()
  
# Creating Dictionary
d = {'id': [1, 2, 10, 12, 13, 14, 15, 16, 17],
     'val1': ['a', 'b', 'c', 'd','d','a', 'b', 'c', 'd']}
  
a = pd.DataFrame(d)
  
# Creating dataframe b
b = pd.DataFrame()
  
# Creating dictionary
d = {'id': ['a', 'b', 'c', 'd'],
     'val1': ['apple', 'box', 'chocolate', 'dog']}
b = pd.DataFrame(d)
  
# right outer join
dff = pd.merge(a, b, left_on='val1',right_on = 'id',  how='left')
  
# display dataframe
dff

   id_x val1_x id_y     val1_y
0     1      a    a      apple
1     2      b    b        box
2    10      c    c  chocolate
3    12      d    d        dog
4    13      d    d        dog
5    14      a    a      apple
6    15      b    b        box
7    16      c    c  chocolate
8    17      d    d        dog