### Importing libraries

In [13]:
from sqlalchemy import create_engine
import pandas as pd
import sweetviz as sv
import os

### sql DB connection

In [2]:
engine = create_engine("mysql://ml_read_user:ML@user@123@127.0.0.1:3307/connected2fiber",echo = True)

### Exploring buildinglist

In [3]:
con = engine.connect()
rs = con.execute("SELECT * FROM `buildinglist`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 09:40:39,765 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-07-26 09:40:39,774 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 09:40:40,016 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-07-26 09:40:40,018 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 09:40:40,501 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-07-26 09:40:40,503 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 09:40:40,981 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-07-26 09:40:40,982 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 09:40:41,223 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-07-26 09:40:41,225 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 09:40:41,465 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-07-26 09:40:41,466 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 09:40:41,703 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-07-26 09:40:41,703 INFO sqlalchemy.engine.base.Engine ()
2021-07-26 09:40:42,421 INFO sqlalchemy.engine.base.Engine SELECT * FROM `buildinglist`
2021-07-26 09:40:42,424 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (736, 34)
###################
COLUMNS Index(['id', 'listname', 'isstatic', 'isall', 'address', 'city', 'stateid',
       'statename', 'countryid', 'countryname', 'zip', 'buildingcategoryid_1',
       'buildingcategoryname_1', 'fiberstatusid', 'fiberstatusname',
       'category', 'configuration', 'createddate', 'modifieddate', 'isactive',
       'createdaccountid', 'modifiedaccountid', 'buildingcategoryid',
       'buildingcategoryname', 'connectionstatusid', 'connectionstatusname',
       'distance_band_value', 'zoning_name', 'accessmediumid',
       'accessmediumname', 'providerid', 'providername',
       'distance_band_value_id', 'custom_field_values'],
      dtype='object')
###################
   id          listname isstatic    isall address  city stateid statename  \
0   5  Data Center List  b'\x00'  b'\x00'          None    None      None
1   6         NY Towers  b'\x00'  b'\x00'          None      35  New York
2   7          Hospital  b'\x00'  b'\x01'    None  None    None      None
3   8      MD Hospitals  b'\x00'  b'\x00'          None      23  Maryland
4   9            Static  b'\x01'  b'\x00'    None  None    None      None

  countryid    countryname  ... connectionstatusid connectionstatusname  \
0      None           None  ...               None                 None
1       223  United States  ...               None                 None
2      None           None  ...               None                 None
3       223  United States  ...               None                 None
4      None           None  ...               None                 None

  distance_band_value zoning_name accessmediumid accessmediumname providerid  \
0                None        None           None             None       None
1                None        None           None             None       None
2                None        None           None             None       None
3                None        None           None             None       None
4                None        None           None             None       None

  providername distance_band_value_id custom_field_values
0         None                   None                None
1         None                   None                None
2         None                   None                None
3         None                   None                None
4         None                   None                None

[5 rows x 34 columns]

### network_provider_user_entry

In [4]:
con = engine.connect()
rs = con.execute("SELECT * FROM `network_provider_user_entry`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 09:43:02,947 INFO sqlalchemy.engine.base.Engine SELECT * FROM `network_provider_user_entry`
2021-07-26 09:43:02,948 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (52, 20)
###################
COLUMNS Index(['id', 'carrier', 'category_id', 'access_type', 'status',
       'entrance_capability_id', 'site_distance', 'closest_site', 'company_id',
       'es_identifier', 'cf_address_key', 'is_deleted', 'created_account_id',
       'created_date', 'modified_account_id', 'modified_date',
       'is_newly_added', 'source_address_key', 'network_status',
       'cf_unique_key'],
      dtype='object')
###################
   id                  carrier  category_id access_type    status  \
0   1                   market            0    Coax/HFC     onnet
1   2  Testing Demo   Anumanth            6       Fiber  Near Net
2   3  Testing Demo   Anumanth            0       Fiber  Near Net
3   4          Connected2Fiber            3        None     OnNet
4   5          Connected2Fiber            1       Fiber  Near Net

   entrance_capability_id  site_distance  \
0                     1.0              0
1                     NaN            838
2                     NaN            838
3                     NaN              0
4                     NaN              0

                                   closest_site  company_id es_identifier  \
0                                30 kingston rd          99          None
1  12 Civic Center Plz, Mankato, MN, 56001-7781           1       3654510
2    5370 Elvas Ave, Sacramento, CA, 95819-2339           1       3654541
3         800 W North Ave, Baltimore, MD, 21217           1         21387
4       1961 Chain Bridge Rd, McLean, VA, 22102           1        197164

                       cf_address_key  is_deleted  created_account_id  \
0                      30 KINGSTON RD           0                 118
1  12 CIVIC CENTER PLZ|MANKATO|MN|USA           0                 402
2    5370 ELVAS AVE|SACRAMENTO|CA|USA           0                 402
3    800 W NORTH AVE|BALTIMORE|MD|USA           0                 402
4  1961 CHAIN BRIDGE RD|MCLEAN|VA|USA           0                 402

         created_date  modified_account_id       modified_date  \
0 2018-09-11 10:03:40                  118 2018-09-11 10:03:40
1 2018-11-08 05:46:58                  402 2018-11-08 12:44:58
2 2018-11-08 05:46:59                  402 2018-11-08 12:44:58
3 2018-11-08 12:43:50                  402 2018-11-08 12:54:36
4 2018-11-08 13:09:52                  402 2018-11-15 12:14:38

   is_newly_added                 source_address_key network_status  \
0               1  25 TEST BUILDING|ABBEVILLE|AL|USA           None
1               0                               None           None
2               0                               None           None
3               0                               None           None
4               0                               None           None

  cf_unique_key
0          None
1          None
2          None
3          None
4          None

### buildingservice

In [11]:
con = engine.connect()
rs = con.execute("SELECT * FROM `buildingservice`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 10:40:19,470 INFO sqlalchemy.engine.base.Engine SELECT * FROM `buildingservice`
2021-07-26 10:40:19,472 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (49425, 37)
###################
COLUMNS Index(['buildingserviceid', 'buildingid', 'servicespeedid', 'mrc_12m',
       'nrc_12m', 'speedavailability', 'mrc_24m', 'nrc_24m', 'mrc_36m',
       'nrc_36m', 'mrc_48m', 'nrc_48m', 'mrc_60m', 'nrc_60m', 'mrc_84m',
       'nrc_84m', 'mrc_120m', 'nrc_120m', 'mrc_240m', 'nrc_240m', 'mm_mrc',
       'mm_nrc', 'company_id', 'createdaccountid', 'modifiedaccountid',
       'createddate', 'modifieddate', 'isdeleted', 'pricing_channel_id',
       'network_connection_status', 'building_connection_status',
       'access_medium_id', 'geographic_config_id', 'entity_id',
       'building_competitive_rating', 'building_category_id',
       'distance_band_id'],
      dtype='object')
###################
   buildingserviceid  buildingid  servicespeedid mrc_12m nrc_12m  \
0                  3      166967               1     123    8978
1                  4      166967             143       4       5
2                  5      166967             142    None    None
3                  6      167023               1     123     152
4                  7      167023             143     556     852

   speedavailability mrc_24m nrc_24m mrc_36m nrc_36m  ... isdeleted  \
0                  1    None    None    None    None  ...         1
1                  2    None    None    None    None  ...         1
2                  0    None    None    None    None  ...         1
3                  1    None    None    None    None  ...         1
4                  1    None    None    None    None  ...         1

  pricing_channel_id network_connection_status building_connection_status  \
0                NaN                       NaN                        NaN
1                NaN                       NaN                        NaN
2                NaN                       NaN                        NaN
3                NaN                       NaN                        NaN
4                NaN                       NaN                        NaN

  access_medium_id geographic_config_id entity_id building_competitive_rating  \
0              NaN                  NaN       NaN                        None
1              NaN                  NaN       NaN                        None
2              NaN                  NaN       NaN                        None
3              NaN                  NaN       NaN                        None
4              NaN                  NaN       NaN                        None

  building_category_id distance_band_id
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN

[5 rows x 37 columns]

In [14]:
    #EDA using Autoviz
    #b=a+".csv"
    
    a= "buildingservice"
    sweet_report = sv.analyze(df)
    #Saving results to HTML file
    report_name = a+'.html'
    sweet_report.show_html(report_name)

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=38.0), HTML(value='')), layout=Layout(dis…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=37.0), HTML(value='')), layout=Layout(dis…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=1.0), HTML(value='')), layout=Layout(disp…

Report buildingservice.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## building_uni_service

In [6]:
con = engine.connect()
rs = con.execute("SELECT * FROM `building_uni_service`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 09:46:15,269 INFO sqlalchemy.engine.base.Engine SELECT * FROM `building_uni_service`
2021-07-26 09:46:15,270 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (1311, 27)
###################
COLUMNS Index(['building_uni_service_id', 'building_id', 'uni_service_speed_id',
       'mrc_12m', 'nrc_12m', 'speed_availability', 'mrc_24m', 'nrc_24m',
       'mrc_36m', 'nrc_36m', 'mrc_48m', 'nrc_48m', 'mrc_60m', 'nrc_60m',
       'mrc_84m', 'nrc_84m', 'mrc_120m', 'nrc_120m', 'mrc_240m', 'nrc_240m',
       'mm_mrc', 'mm_nrc', 'created_account_id', 'modified_account_id',
       'created_date', 'modified_date', 'is_deleted'],
      dtype='object')
###################
   building_uni_service_id  building_id  uni_service_speed_id mrc_12m nrc_12m  \
0                     5330       221884                   233      23      23
1                     5331       221884                   234     123     123
2                     5558        15704                   233     123     123
3                     5559        15704                   234     123     123
4                     5615        15933                   233     123     123

   speed_availability mrc_24m nrc_24m mrc_36m nrc_36m  ... nrc_120m mrc_240m  \
0                   1     123     123     123     213  ...     None     None
1                   1      23      23    2312     213  ...     None     None
2                   1      23      32      23    None  ...     None     None
3                   1    1232      32     123    None  ...     None     None
4                   1      23      32      23    None  ...     None     None

  nrc_240m mm_mrc mm_nrc created_account_id modified_account_id created_date  \
0     None   None   None                NaN                 NaN          NaT
1     None   None   None                NaN                 NaN          NaT
2     None   None   None                NaN                 NaN          NaT
3     None   None   None                NaN                 NaN          NaT
4     None   None   None                NaN                 NaN          NaT

  modified_date is_deleted
0           NaT          0
1           NaT          0
2           NaT          0
3           NaT          0
4           NaT          0

[5 rows x 27 columns]

### companyservice

In [15]:
con = engine.connect()
rs = con.execute("SELECT * FROM `companyservice`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 10:43:42,982 INFO sqlalchemy.engine.base.Engine SELECT * FROM `companyservice`
2021-07-26 10:43:42,985 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (33404, 36)
###################
COLUMNS Index(['companyserviceid', 'companyid', 'servicespeedid', 'mrc_12m', 'nrc_12m',
       'speedavailability', 'mrc_24m', 'nrc_24m', 'mrc_36m', 'nrc_36m',
       'mrc_48m', 'nrc_48m', 'mrc_60m', 'nrc_60m', 'mrc_84m', 'nrc_84m',
       'mrc_120m', 'nrc_120m', 'mrc_240m', 'nrc_240m', 'mm_mrc', 'mm_nrc',
       'md_entity_id', 'pricing_channel_id', 'network_connection_status',
       'building_connection_status', 'access_medium_id',
       'geographic_config_id', 'created_account_id', 'modified_account_id',
       'created_date', 'modified_date', 'entity_id', 'competitive_rating',
       'category', 'distance_band_id'],
      dtype='object')
###################
   companyserviceid  companyid  servicespeedid mrc_12m nrc_12m  \
0                40         55             143  $56233   $9635
1                41         55             144    $545   $5456
2                42         55             145     $96    $235
3                43         55             146    $121  $23423
4                44         55             147    $563   $9696

   speedavailability mrc_24m nrc_24m mrc_36m nrc_36m  ... access_medium_id  \
0                  1    None    None    None    None  ...              NaN
1                  1    None    None    None    None  ...              NaN
2                  1    None    None    None    None  ...              NaN
3                  1    None    None    None    None  ...              NaN
4                  1    None    None    None    None  ...              NaN

  geographic_config_id created_account_id modified_account_id created_date  \
0                  NaN                NaN                 NaN          NaT
1                  NaN                NaN                 NaN          NaT
2                  NaN                NaN                 NaN          NaT
3                  NaN                NaN                 NaN          NaT
4                  NaN                NaN                 NaN          NaT

  modified_date entity_id competitive_rating category distance_band_id
0           NaT       NaN               None      NaN              NaN
1           NaT       NaN               None      NaN              NaN
2           NaT       NaN               None      NaN              NaN
3           NaT       NaN               None      NaN              NaN
4           NaT       NaN               None      NaN              NaN

[5 rows x 36 columns]

In [16]:
    #EDA using Autoviz
    #b=a+".csv"
    
    a= "companyservice"
    sweet_report = sv.analyze(df)
    #Saving results to HTML file
    report_name = a+'.html'
    sweet_report.show_html(report_name)

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=37.0), HTML(value='')), layout=Layout(dis…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=36.0), HTML(value='')), layout=Layout(dis…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=1.0), HTML(value='')), layout=Layout(disp…

Report companyservice.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### reportbuilding

In [8]:
con = engine.connect()
rs = con.execute("SELECT * FROM `reportbuilding`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 10:11:03,713 INFO sqlalchemy.engine.base.Engine SELECT * FROM `reportbuilding`
2021-07-26 10:11:03,714 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (39, 13)
###################
COLUMNS Index(['id', 'reporttypeid', 'message', 'createddate', 'modifieddate',
       'supportemail', 'updatestatus', 'useraccountid', 'modifiedaccountid',
       'entity_id', 'module_id', 'file_id', 'subject'],
      dtype='object')
###################
   id  reporttypeid                                            message  \
0   1             3     This site is incorrectly mapped . Please edit.
1   2             4                                               Test
2   3             4                               Thisid  test message
3   4             4  There is nothing wrong with this building, jus...
4   5             1                                               Test

          createddate        modifieddate               supportemail  \
0 2016-04-15 15:08:22 2016-04-15 15:08:22  emim.lumina@capestart.com
1 2016-05-19 12:04:20 2016-05-19 12:04:20    ben@connected2fiber.com
2 2016-08-10 07:38:54 2016-08-10 07:38:54    ben@connected2fiber.com
3 2016-12-21 19:16:23 2016-12-21 19:16:23    ben@connected2fiber.com
4 2017-01-18 06:04:31 2017-01-18 06:04:31    ben@connected2fiber.com

  updatestatus  useraccountid  modifiedaccountid entity_id module_id file_id  \
0         None             24                 24      None      None    None
1         None             17                 17      None      None    None
2         None             17                 17      None      None    None
3         None             17                 17      None      None    None
4         None             77                 77      None      None    None

  subject
0    None
1    None
2    None
3    None
4    None

### company_building_new

In [9]:
con = engine.connect()
rs = con.execute("SELECT * FROM `company_building_new`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 10:11:56,097 INFO sqlalchemy.engine.base.Engine SELECT * FROM `company_building_new`
2021-07-26 10:11:56,098 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (5021, 100)
###################
COLUMNS Index(['id', 'buildingname', 'buildingno', 'description', 'createddate',
       'modifieddate', 'totalspaceavailable', 'sfrentalrate', 'buildingsize',
       'additionalsubtype', 'minvisible', 'propertyvalue', 'floors',
       'buildingclass', 'subtype', 'lotsize', 'yearbuilt', 'zoningdescription',
       'listingid', 'lastupdateddate', 'rssfeedurl', 'twitterfeed',
       'structurecategoryname', 'network_build_status', 'c2fbuildingnumber',
       'demarccode', 'cllicode', 'npa', 'nxx', 'lata', 'isdarkfiber',
       'isether', 'ismpls', 'isbroadband', 'iswifi', 'iswavelengths',
       'issonet', 'isip', 'isdas', 'israisercablemanagement', 'israiseruser',
       'locationid', 'structurecategory', 'cbsaname', 'onnettype',
       'fiberownership', 'building_connection_status', 'offnetstatus',
       'npanxx', 'accessmediumid', 'nni_status_id', 'hasindexed', 'isdefault',
       'iscorrectaddress', 'carriergeocodestatus', 'censusgeocodestatus',
       'createdaccountid', 'modifiedaccountid', 'smartystreetstatus',
       'clearbitstatus', 'network_status', 'google_geocode_status',
       'geocode_source', 'geocode_accuracy_type', 'install_interval_id',
       'special_construction_cost', 'provider', 'unique_key',
       'google_elevation_status', 'access_customer_name', 'floor', 'room',
       'minimum_circuit_level', 'minimum_quantity', 'building_clli',
       'hand_off_type', 'protection_type', 'hand_off_pricing', 'isDeleted',
       'building_competitive_rating', 'is_md_location_migrated',
       'supplier_manager_id', 'distribution_building_id', 'distribution_id',
       'building_notes', 'competitive_rating_status', 'distance_band_value',
       'company_id', 'migration_flag', 'is_native_building',
       'comcast_pricing_zone', 'indatel_pricing_zone', 'level3_pricing_zone',
       'sprint_pricing_zone', 'verizon_pricing_zone', 'att_pricing_zone',
       'vertical_coordinate', 'horizontal_coordinate', 'diversity_type',
       'file_name'],
      dtype='object')
###################
   id                        buildingname buildingno description  \
0   1                             Markley     1999_1        None
1   2                              Quasar     1999_2        None
2   3  Equinix PI1 - 1st Floor, Suite 126     1999_3        None
3   4                      1102 Grand LLC     1999_4        None
4   5                        CoreSite VA1     1999_5        None

          createddate        modifieddate totalspaceavailable sfrentalrate  \
0 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
1 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
2 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
3 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None
4 2018-02-15 14:07:42 2018-02-15 14:07:42                None         None

  buildingsize additionalsubtype  ... comcast_pricing_zone  \
0         None              None  ...                 None
1         None              None  ...                 None
2         None              None  ...                 None
3         None              None  ...                 None
4         None              None  ...                 None

  indatel_pricing_zone level3_pricing_zone sprint_pricing_zone  \
0                 None                None                None
1                 None                None                None
2                 None                None                None
3                 None                None                None
4                 None                None                None

  verizon_pricing_zone att_pricing_zone vertical_coordinate  \
0                 None             None                None
1                 None             None                None
2                 None             None                None
3                 None             None                None
4                 None             None                None

  horizontal_coordinate diversity_type file_name
0                  None           None      None
1                  None           None      None
2                  None           None      None
3                  None           None      None
4                  None           None      None

[5 rows x 100 columns]

### building_supplier_service

In [10]:
con = engine.connect()
rs = con.execute("SELECT * FROM `building_supplier_service`")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print("###################")
print("SHAPE {}".format(df.shape))
print("###################")
print("COLUMNS {}".format(df.columns))
print("###################")
print(df.head())

2021-07-26 10:13:40,030 INFO sqlalchemy.engine.base.Engine SELECT * FROM `building_supplier_service`
2021-07-26 10:13:40,031 INFO sqlalchemy.engine.base.Engine ()
###################
SHAPE (1842, 36)
###################
COLUMNS Index(['building_supplier_service_id', 'building_id', 'service_speed_id',
       'mrc_12m', 'nrc_12m', 'speedavailability', 'mrc_24m', 'nrc_24m',
       'mrc_36m', 'nrc_36m', 'mrc_48m', 'nrc_48m', 'mrc_60m', 'nrc_60m',
       'mrc_84m', 'nrc_84m', 'mrc_120m', 'nrc_120m', 'mrc_240m', 'nrc_240m',
       'mm_mrc', 'mm_nrc', 'pricing_channel_id', 'network_connection_status',
       'building_connection_status', 'access_medium_id',
       'geographic_config_id', 'created_account_id', 'modified_account_id',
       'created_date', 'modified_date', 'entity_id', 'competitive_rating',
       'category', 'distance_band_id', 'isdeleted'],
      dtype='object')
###################
   building_supplier_service_id  building_id  service_speed_id mrc_12m  \
0                             1      3905643                 1      15
1                             2      3905643                 1      15
2                             3      3654720                 1      15
3                             4      3909071                82     397
4                             5      3909071                55     408

  nrc_12m  speedavailability mrc_24m nrc_24m mrc_36m nrc_36m  ...  \
0                          1                                  ...
1                          1                                  ...
2                          1                                  ...
3     794                  2    1191    1588    1985    2382  ...
4     816                  1    1224    1632    2040    2448  ...

  geographic_config_id created_account_id modified_account_id  \
0                  NaN                241                 NaN
1                  NaN                241                 NaN
2                  NaN                241                 NaN
3                  NaN                339                 NaN
4                  NaN                339                 NaN

         created_date modified_date entity_id competitive_rating category  \
0 2019-02-18 08:12:26           NaT       NaN               None      NaN
1 2019-02-18 08:13:35           NaT  208689.0               None      NaN
2 2019-02-18 09:29:09           NaT  208689.0               None      NaN
3 2019-03-05 13:02:34           NaT       NaN               None      NaN
4 2019-03-05 13:02:34           NaT       NaN               None      NaN

  distance_band_id isdeleted
0             None         0
1             None         0
2             None         0
3             None         1
4             None         1

[5 rows x 36 columns]